@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

body {
   background-color: #e0e0e0;
}

.my-btn {
   border-radius: 10px;
   background-color: #ff705b;
   font-size: 29px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 900;
   font-family: "Montserrat";
   text-align: center;
   padding: 25px 30px;
   border: 0;
   outline: 0;
}

@media screen and (max-width: 1399px) {
   .my-btn {
      font-size: 27px;
      padding: 21px 26px;
   }
}

@media screen and (max-width: 1199px) {
   .my-btn {
      font-size: 25px;
      padding: 17px 22px;
   }
}

@media screen and (max-width: 991px) {
   .my-btn {
      font-size: 21px;
      padding: 13px 18px;
   }
}

@media screen and (max-width: 767px) {
   .my-btn {
      font-size: 19px;
      padding: 10px 15px;
   }
}

@media screen and (max-width: 575px) {
   .my-btn {
      font-size: 16px;
      padding: 8px 12px;
   }
}

/* 
   navbar
*/

.navbar {
   position: absolute;
   top: 0;
   width: 100%;
}

.navbar-brand img {
   width: 125px;
}

.navbar .nav-item {
   margin-right: 30px;
}

.navbar .nav-link {
   font-size: 21px;
   color: #2f4959;
   font-weight: 700;
   text-transform: uppercase;
   font-family: "Montserrat";
}

#searchForm {
   position: relative;
   width: 150px;
}

#searchForm input[type="search"] {
   width: 100%;
   border-radius: 10px;
   background-color: #7fcbd7;
   border: 0;
   outline: 0;
   font-size: 16px;
   padding: 8px 0;
   padding-right: 30px;
   padding-left: 8px;
}

#searchForm button {
   position: absolute;
   right: 5px;
   top: 50%;
   transform: translateY(-50%);
   background-color: transparent;
   border: 0;
   outline: 0;
   color: #fff;
   font-size: 16px;
}

@media screen and (max-width: 1199px) {
   .navbar-brand img {
      width: 100px;
   }

   .navbar .nav-item {
      margin-right: 1rem;
   }

   .navbar .nav-link {
      font-size: 19px;
   }
}

@media screen and (max-width: 991px) {
   .navbar-brand img {
      width: 80px;
   }

   .navbar .nav-item {
      margin-right: 0rem;
   }

   .navbar .nav-link {
      font-size: 16px;
   }

   #searchForm {
      width: 130px;
   }
}

@media screen and (max-width: 767px) {
   #searchForm {
      width: 100%;
   }

   .navbar {
      position: static;
   }
}


/* 
   section 1
*/

#section1 {
   background-image: url(../img/section1-bg.png);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: 0 0;
   padding: 15rem 0;
}

#section1 .heading-main {
   font-size: 112px;
   text-transform: uppercase;
   color: #ff705b;
   font-weight: 400;
   font-style: italic;
   font-family: "League Gothic";
   margin-bottom: 3rem;
   line-height: 1;
}

#section1 .para-main {
   font-size: 25px;
   text-transform: uppercase;
   color: #2f4959;
   font-weight: 400;
   font-style: italic;
   font-family: "Montserrat";
   margin-bottom: 3rem;
}


@media screen and (max-width: 1199px) {
   #section1 {
      padding: 10rem 0;
   }

   #section1 .heading-main {
      font-size: 100px;
      margin-bottom: 2rem;
   }

   #section1 .para-main {
      font-size: 21px;
      margin-bottom: 2rem;
   }
}

@media screen and (max-width: 991px) {
   #section1 {
      padding: 10rem 0;
   }

   #section1 .heading-main {
      font-size: 80px;
      margin-bottom: 1.5rem;
   }

   #section1 .para-main {
      font-size: 21px;
      margin-bottom: 1.5rem;
   }
}

@media screen and (max-width: 767px) {
   #section1 {
      padding: 3rem 0;
   }

   #section1 .heading-main {
      font-size: 50px;
      margin-bottom: 1.5rem;
   }

   #section1 .para-main {
      display: inline-block;
      font-size: 19px;
      margin-bottom: 1.5rem;
      background-color: rgba(255, 255, 255, 0.7);
   }
}






/* 
   section 2
*/

#section2 .heading-main {
   font-size: 67px;
   text-transform: uppercase;
   color: #2f4959;
   font-weight: 400;
   font-style: italic;
   font-family: "League Gothic";
   text-align: center;
}

#section2 .para-main {
   font-size: 21px;
   text-transform: uppercase;
   color: #2f4959;
   font-weight: 400;
   font-style: italic;
   font-family: "Montserrat";
   text-align: center;
   margin-bottom: 3rem;
}

#section2 .card {
   text-align: center;
   background-color: transparent;
   border: 0;
}

#section2 .card-img {
   width: 35%;
   display: inline-block;
   margin-bottom: 5rem;
}

#section2 .card-title {
   font-size: 21px;
   text-transform: uppercase;
   color: #ff705b;
   font-weight: 900;
   font-style: italic;
   font-family: "Montserrat";
   text-align: center;
   margin-bottom: 1.5rem;
}

#section2 .card-text {
   font-size: 21px;
   color: #2f4959;
   font-weight: 400;
   font-family: "Montserrat";
   text-align: center;
   padding: 0 1rem;
}

@media screen and (max-width: 1199px) {

   #section2 .heading-main {
      font-size: 50px;
   }

   #section2 .card-text {
      padding: 0 0;
   }

   #section2 .card-img {
      margin-bottom: 3rem;
   }

   #section2 .para-main {
      margin-bottom: 0;
   }
}

@media screen and (max-width: 991px) {
   #section2 .heading-main {
      font-size: 35px;
   }

   #section2 .para-main {
      font-size: 19px;
   }

   #section2 .card-title,
   #section2 .card-text {
      font-size: 19px;
      margin-bottom: 1rem;
   }
}

@media screen and (max-width: 767px) {
   #section2 .heading-main {
      font-size: 35px;
   }

   #section2 .para-main {
      font-size: 16px;
   }

   #section2 .card-title,
   #section2 .card-text {
      font-size: 16px;
   }
}





/* 
   section 3
*/

#section3 {
   padding: 3rem 0;
   background-image: url(../img/section3-bg.png);
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: 100% 100%;
}

#section3 .heading-main {
   font-size: 67px;
   text-transform: uppercase;
   color: #ff705b;
   font-weight: 400;
   font-style: italic;
   font-family: "League Gothic";
   text-align: center;
}

#section3 .para-main {
   font-size: 21px;
   text-transform: uppercase;
   color: #2f4959;
   font-weight: 400;
   font-style: italic;
   font-family: "Montserrat";
   text-align: center;
   margin-bottom: 7rem;
}

#section3 .sub-heading {
   font-size: 21px;
   text-transform: uppercase;
   color: #ff705b;
   font-weight: 900;
   font-style: italic;
   font-family: "Montserrat";
   margin-bottom: 1.5rem;
}

#section3 .sub-para {
   font-size: 21px;
   color: #2f4959;
   font-weight: 400;
   font-family: "Montserrat";
}

#section3 .my-btn {
   font-size: 21px;
   padding: 18px 30px;
   display: block;
   margin: 0 auto;
}

#section3 .my-row:not(:last-child) {
   margin-bottom: 5rem;
}


@media screen and (max-width: 1199px) {
   #section3 .my-row:not(:last-child) {
      margin-bottom: 3rem;
   }

   #section3 .para-main {
      margin-bottom: 5rem;
   }
}

@media screen and (max-width: 991px) {
   #section3 {
      padding-top: 0;
      background-size: contain;
   }

   #section3 .my-row:not(:last-child) {
      margin-bottom: 1.5rem;
   }

   #section3 .heading-main {
      font-size: 50px;
   }

   #section3 .para-main {
      font-size: 19px;
      margin-bottom: 3rem;
   }

   #section3 .sub-heading {
      font-size: 19px;
      margin-bottom: 1rem;
   }

   #section3 .sub-para {
      font-size: 19px;
   }

   #section3 .my-btn {
      font-size: 19px;
      padding: 16px 24px;
   }
}


@media screen and (max-width: 767px) {
   #section3 {
      background-image: unset;
   }

   #section3 .heading-main {
      font-size: 35px;
   }

   #section3 .para-main {
      font-size: 16px;
      margin-bottom: 3rem;
   }

   #section3 .sub-heading {
      font-size: 16px;
      margin-bottom: 1rem;
   }

   #section3 .sub-para {
      font-size: 16px;
   }

   #section3 .my-btn {
      font-size: 16px;
      padding: 12px 18px;
   }
}







/* 
   section 4
*/

#section4 {
   background-image: url(../img/section4-bg.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: 0 0;
   padding: 10rem 0;
}

#section4 .my-c-item {
   width: 60%;
   margin: 0 auto;
   padding-top: 5rem;
   padding-bottom: 3rem;
}

#section4 .heading-main {
   font-size: 67px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 400;
   font-style: italic;
   font-family: "League Gothic";
   text-align: center;
   margin-bottom: 1.5rem;
}

#section4 .para-main {
   font-size: 21px;
   text-transform: uppercase;
   color: #2f4959;
   font-weight: 500;
   font-style: italic;
   font-family: "Montserrat";
   text-align: center;
   margin-bottom: 1.5rem;
}

#section4 .sub-para {
   font-size: 20px;
   color: #ffffff;
   font-weight: bold;
   font-family: "Montserrat";
   text-align: center;
}

.carousel-indicators [data-bs-target] {
   height: 12px;
   width: 12px;
   border-radius: 50%;
   opacity: 0.271;
   background-color: #ffffff;
}

.carousel-indicators .active {
   background-color: #2f4959;
   opacity: 1;
}

@media screen and (max-width: 1199px) {
   #section4 .my-c-item {
      width: 70%;
   }

   #section4 .heading-main {
      font-size: 50px;
   }

   #section4 .para-main {
      font-size: 19px;
   }

   #section4 .sub-para {
      font-size: 18px;
   }
}

@media screen and (max-width: 991px) {
   #section4 .my-c-item {
      width: 100%;
   }

   #section4 {
      padding-top: 5rem;
      padding-bottom: 4rem;
   }
}

@media screen and (max-width: 767px) {
   #section4 .my-c-item {
      width: 100%;
   }

   #section4 .heading-main {
      font-size: 35px;
   }

   #section4 .para-main {
      font-size: 16px;
   }

   #section4 .sub-para {
      font-size: 15px;
   }
}

@media screen and (max-width: 575px) {
   #section4 .my-c-item {
      width: 100%;
   }

   #section4 .heading-main {
      font-size: 30px;
      margin-bottom: 1rem;
   }

   #section4 .para-main {
      font-size: 14px;
      margin-bottom: 1rem;
   }

   #section4 .sub-para {
      font-size: 14px;
   }

   #section4 {
      padding-top: 3rem;
      padding-bottom: 3rem;
   }
}




/* 
   section 5
*/
#section5 {
   padding-top: 7rem;
}

#section5 .heading-main {
   font-size: 67px;
   text-transform: uppercase;
   color: #ff705b;
   font-weight: 400;
   font-style: italic;
   font-family: "League Gothic";
   text-align: center;
}

#section5 .para-main {
   font-size: 21px;
   text-transform: uppercase;
   color: #2f4959;
   font-weight: 400;
   font-style: italic;
   font-family: "Montserrat";
   text-align: center;
   margin-bottom: 1.5rem;
}

#section5 .card {
   text-align: center;
   background-color: transparent;
   border: 0;
}

#section5 .card-img {
   width: 100%;
   height: auto;
   display: inline-block;
   margin-bottom: 3rem;
}

#section5 .card-title {
   font-size: 21px;
   text-transform: uppercase;
   color: #ff705b;
   font-weight: 500;
   font-style: italic;
   font-family: "Montserrat";
   text-align: center;
   margin-bottom: 1.5rem;
}

#section5 .card-text {
   font-size: 21px;
   color: #2f4959;
   font-weight: 400;
   font-family: "Montserrat";
   text-align: center;
}

@media screen and (max-width: 1199px) {
   #section5 .heading-main {
      font-size: 50px;
   }

   #section5 .para-main {
      margin-bottom: 0;
      font-size: 19px;
   }

   #section5 .card-title {
      font-size: 19px;
   }

   #section5 .card-text {
      font-size: 19px;
   }
}

@media screen and (max-width: 767px) {
   #section5 {
      padding-top: 3rem;
   }

   #section5 .heading-main {
      font-size: 35px;
   }

   #section5 .para-main {
      font-size: 16px;
   }

   #section5 .card-title,
   #section5 .card-text {
      font-size: 16px;
   }
}








#section6 {
   background-image: url(../img/section6-bg.png);
   background-size: 100% 100%;
   background-position: 0 0;
   background-repeat: no-repeat;
   padding-top: 7rem;
   padding-bottom: 15rem;
}

#section6 .heading-main {
   font-size: 67px;
   text-transform: uppercase;
   color: #ff705b;
   font-weight: 400;
   font-style: italic;
   font-family: "League Gothic";
   line-height: 0.9;
   margin-bottom: 1.5rem;
}

#section6 .para-main {
   font-size: 21px;
   text-transform: uppercase;
   color: #2f4959;
   font-weight: 400;
   font-style: italic;
   font-family: "Montserrat";
   line-height: 1.2;
   margin-bottom: 3rem;
}

#section6 .img-main {
   width: 90%;
   height: auto;
   display: block;
   margin: 0 auto;
}

#section6 .my-btn {
   font-size: 25px;
   padding: 18px 30px;
   display: block;
   margin: 0 auto;
   margin-top: 3rem;
}

@media screen and (max-width: 1199px) {
   #section6 .heading-main {
      font-size: 50px;
   }

   #section6 .para-main {
      font-size: 19px;
   }

   #section6 .my-btn {
      font-size: 21px;
      padding: 18px 24px;
   }

   #section6 {
      /* padding-top: 7rem; */
      padding-bottom: 10rem;
   }
}

@media screen and (max-width: 991px) {
   #section6 .my-btn {
      font-size: 19px;
      padding: 16px 20px;
   }

   #section6 {
      padding-top: 5rem;
      padding-bottom: 7rem;
   }
}

@media screen and (max-width: 767px) {
   #section6 .heading-main {
      font-size: 35px;
   }

   #section6 .para-main {
      font-size: 16px;
      margin-bottom: 1.5rem;
   }

   #section6 .para-main br {
      display: none;
   }

   #section6 .my-btn {
      font-size: 16px;
      padding: 14px 18px;
   }

   #section6 {
      padding-top: 3rem;
      padding-bottom: 5rem;
   }
}

@media screen and (max-width: 575px) {
   #section6 .heading-main {
      text-align: center;
   }

   #section6 .para-main {
      text-align: center;
   }

   #section6 .para-main br {
      display: block;
   }

   #section6 .img-main {
      width: 60%;
   }

   #section6 .my-btn {
      font-size: 16px;
      padding: 12px 16px;
   }

   #section6 {
      padding-top: 0rem;
      padding-bottom: 0rem;
   }

   #section6 .row {
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-color: rgba(255, 255, 255, 0.7);
   }
}

@media screen and (max-width: 350px) {
   #section6 .para-main br {
      display: none;
   }
}





















/* 
   section 7
*/
#section7 {
   background-image: url(../img/section7-bg2.png);
   background-size: 20%;
   background-repeat: no-repeat;
   background-position: 112% 40%;
   padding-top: 3rem;
   padding-bottom: 3rem;
}

#section7 .heading-main {
   font-size: 67px;
   text-transform: uppercase;
   color: #ff705b;
   font-weight: 400;
   font-style: italic;
   font-family: "League Gothic";
   text-align: center;
}

#section7 .para-main {
   font-size: 21px;
   text-transform: uppercase;
   color: #2f4959;
   font-weight: 400;
   font-style: italic;
   font-family: "Montserrat";
   text-align: center;
   margin-bottom: 2.5rem;
}

#section7 form {
   border: 2px solid #ff705b;
   border-radius: 8px;
   padding: 6rem 12rem;
   width: 80%;
   margin: 0 auto;
   background-image: url(../img/section7-bg1.png);
   background-repeat: no-repeat;
   background-size: auto 90%;
   background-position: center;
}

#section7 form input {
   font-size: 25px;
   font-weight: 400;
   font-family: "Montserrat";
   background-color: #fff;
   padding: 10px 18px;
   border-radius: 30px;
}

#section7 .my-btn {
   font-size: 25px;
   padding: 16px 36px;
   display: block;
   margin: 0 auto;
}

@media screen and (max-width: 1399px) {
   #section7 form {
      width: 100%;
   }
}

@media screen and (max-width: 1199px) {
   #section7 form {
      padding: 5rem 10rem;
   }

   #section7 .heading-main {
      font-size: 50px;
   }

   #section7 .para-main {
      font-size: 19px;
   }
}

@media screen and (max-width: 991px) {
   #section7 form {
      padding: 4rem 5rem;
   }

   #section7 .heading-main {
      font-size: 40px;
   }

   #section7 .para-main {
      margin-bottom: 1.5rem;
   }

   #section7 .my-btn {
      font-size: 19px;
      padding: 12px 28px;
   }

   #section7 form input {
      font-size: 19px;
      padding: 8px 16px;
   }

}

@media screen and (max-width: 767px) {
   #section7 form {
      padding: 3rem 3rem;
   }

   #section7 .heading-main {
      font-size: 32px;
   }

   #section7 .para-main {
      font-size: 15px;
   }

   #section7 .my-btn {
      font-size: 16px;
      padding: 10px 24px;
   }

   #section7 form input {
      font-size: 16px;
      padding: 8px 16px;
   }
}

@media screen and (max-width: 575px) {

   #section7 {
      background-image: none;
      padding-top: 2rem;
      padding-bottom: 2rem;
   }

   #section7 form {
      padding: 2rem 1.5rem;
   }

   #section7 .heading-main {
      font-size: 30px;
   }

   #section7 .para-main {
      font-size: 14px;
   }
}








/* 
   footer
*/

#footer{
   background-image: url(../img/footer-bg.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   padding-top: 15rem;
   padding-bottom: 6rem;
}

#footer .heading-main{
   font-size: 67px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 400;
   font-style: italic;
   font-family: "League Gothic";
   line-height: 0.9;
   margin-bottom: 2rem;
}
#footer .para-main{
   font-size: 25px;
   letter-spacing: 1px;
   line-height: 1.2;
   color: #ffffff;
   font-weight: 300;
   font-family: "Montserrat";
}
#footer .sub-heading{
   font-size: 42px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 400;
   font-style: italic;
   font-family: "League Gothic";  
   margin-bottom: 2rem;
}

#footer .footer-links{
   display: flex;
   flex-direction: column;
   gap: 6px;
}

#footer .footer-links a{
   font-size: 21px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #ffffff;
   font-weight: 600;
   font-family: "Montserrat";
   text-decoration: none;
}
#footer .footer-icons{
   display: flex;
   gap: 16px;
   padding-top: 1.5rem;
}
#footer .footer-icons a{
   text-decoration: none;
   color: #e16e5c;
   background-color: #fff;
   font-size: 29px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: inline-flex;
   justify-content: center;
   align-items: center;
}



@media screen and (max-width: 1199px){
   #footer .heading-main{
      font-size: 50px;
   }
   #footer .para-main{
      font-size: 19px;
   }
   #footer .sub-heading{
      font-size: 35px;
   }
   #footer .footer-links a{
      font-size: 17px;
   }
   #footer .footer-icons a{
      font-size: 25px;
      width: 40px;
      height: 40px;
   }
}

@media screen and (max-width: 991px){
   #footer{
      padding-top: 10rem;
      padding-bottom: 5rem;
   }
   #footer .heading-main{
      font-size: 35px;
      margin-bottom: 1.5rem;
   }
   #footer .para-main{
      font-size: 16px;
   }
   #footer .sub-heading{
      font-size: 29px;
      margin-bottom: 1.5rem;
   }
   #footer .footer-links a{
      font-size: 14px;
   }
   #footer .footer-icons a{
      font-size: 21px;
      width: 35px;
      height: 35px;
   }
   #footer .footer-icons{
      padding-top: 1rem;
   }
}




@media screen and (max-width: 767px){
   #footer{
      padding-top: 10rem;
      padding-bottom: 5rem;
   }
   #footer .heading-main{
      margin-bottom: 1rem;
      text-align: center;
   }
   #footer .footer-left .para-main{
      text-align: center;
   }
   #footer .sub-heading{
      margin-bottom: 1rem;
   }
}


@media screen and (max-width: 575px){
   #footer{
      padding-top: 8rem;
      padding-bottom: 0rem;
      background-size: contain;
   }
   #footer .container{
      background-color: #e16e5c;
      padding-bottom: 3rem;
   }
   #footer .sub-heading{
      text-align: center;
   }
   #footer .para-main{
      text-align: center;
   }
   #footer .footer-icons{
      justify-content: center;
   }
   #footer .footer-links{
      align-items: center;
   }
}